<?xml version='1.0' encoding='utf-8'?>
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.url">jdbc:postgresql://localhost:5432/car_catalog</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">fastin</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>

        <mapping class="ru.kibis.car.model.car.Engine"/>
        <mapping class="ru.kibis.car.model.car.Car"/>
        <mapping class="ru.kibis.car.model.ad.Ad"/>
        <mapping class="ru.kibis.car.model.user.User"/>
        <mapping class="ru.kibis.car.model.ad.Photo"/>

    </session-factory>
</hibernate-configuration>




