<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    <title>Auto Seller</title>
</head>
<body>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<script th:src="@{/js/ad.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<br/>
<br/>
<script>$(showAd())</script>
<div class="row" name="login_details" id="login_details">
    <script>$(checkUser())</script>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
        <div class="container" name="car_ad" id="car_ad">
        </div>
    </div>
    <div class="col-sm-1">
    </div>
    <br/>
    <div class="col-sm-4">
        <div class="container" name="carPhotos" id="carPhotos">
        </div>
    </div>
</div>
</body>
</html>