<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>ru.kibis.car.controller.UserCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/user_create_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>ru.kibis.car.controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserExitServlet</servlet-name>
        <servlet-class>ru.kibis.car.controller.UserExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserExitServlet</servlet-name>
        <url-pattern>/exit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>ru.kibis.car.controller.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/user_update_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdCreateServlet</servlet-name>
        <servlet-class>ru.kibis.car.controller.AdCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdCreateServlet</servlet-name>
        <url-pattern>/ad_create_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdServlet</servlet-name>
        <servlet-class>ru.kibis.car.controller.AdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdServlet</servlet-name>
        <url-pattern>/ad_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyAdsServlet</servlet-name>
        <servlet-class>ru.kibis.car.controller.MyAdsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyAdsServlet</servlet-name>
        <url-pattern>/my_ads_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdEditServlet</servlet-name>
        <servlet-class>ru.kibis.car.controller.AdEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdEditServlet</servlet-name>
        <url-pattern>/ad_edit_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PhotoServlet</servlet-name>
        <servlet-class>ru.kibis.car.controller.PhotoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PhotoServlet</servlet-name>
        <url-pattern>/photo_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowPhotoServlet</servlet-name>
        <servlet-class>ru.kibis.car.controller.ShowPhotoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowPhotoServlet</servlet-name>
        <url-pattern>/show_photo_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>ru.kibis.car.controller.BrandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/brand_servlet</url-pattern>
    </servlet-mapping>


    <!--<filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.kibis.ad.controller.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>UserUpdateServlet</servlet-name>
    </filter-mapping>-->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>registration.html</welcome-file>
        <welcome-file>ad.html</welcome-file>
    </welcome-file-list>


</web-app>

